beautifulsoup4==4.12.2
deeprobust
matplotlib==3.7.3
networkx==3.0
nlpcloud==1.1.44
nltk==3.8.1
numba==0.58.1
numpy==1.24.1
pandas==2.0.3
safetensors==0.4.0
scikit-image==0.21.0
scikit-learn==1.3.1
scipy==1.10.1
seaborn==0.13.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
spacy==3.7.2
SQLAlchemy==2.0.22
tensorboardX==2.6.2.2
tokenizers==0.14.1
torch
torch_geometric
torchaudio
torchvision
tqdm==4.66.1
transformers==4.34.1
